<h1> Departments </h1>
<%= link_to "Create Department", new_department_path %>
<br/>
<br/>


<ul>
  <% @departments.each do |department| %>
    <li><strong><%= link_to department.name, department %></strong></li>
<%= link_to "Edit Department", edit_department_path(department.id) %>
<br/>
<%= link_to "Delete Department", department_path(department.id), method: :delete %>
  <% end %>
</ul>





